.basketItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basketItem-info {
  padding-left: 20px;
}

.basketItem-title {
  font-size: 17px;
  font-weight: 800;
}

.basketItem-info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 5px;
  color: #111;
}

.basketItem-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.basketItem-rating {
  color: yellow;
}
